<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page.title %}{{ page.title | escape }} {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  
  <!-- SIGGRAPH-inspired CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  
  <!-- Theme toggle script (loads early to prevent flash) -->
  <script src="{{ "/assets/js/theme-toggle.js" | relative_url }}"></script>
  
  <!-- Collapsible TOC script -->
  <script src="{{ "/assets/js/collapsible-toc.js" | relative_url }}"></script>
  
  <!-- Footnote tooltips script -->
  <script src="{{ "/assets/js/footnote-tooltips.js" | relative_url }}"></script>
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  <!-- MathJax with automatic equation numbering and color support -->
  <script>
  window.MathJax = {
    tex: {
      tags: 'ams',
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true,
      packages: {'[+]': ['color', 'colorv2']}
    },
    options: {
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    loader: {
      load: ['[tex]/color', '[tex]/colorv2']
    }
  };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  
  <!-- SEO -->
  {% seo %}
</head>
