---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Hero images as single figure -->
  <figure class="hero-figure-container">
    <div class="hero-images">
      <img src="{{ "/assets/0.jpg" | relative_url }}" alt="Image 1">
      <img src="{{ "/assets/1.jpg" | relative_url }}" alt="Image 2">
      <img src="{{ "/assets/2.jpg" | relative_url }}" alt="Image 3">
      <img src="{{ "/assets/3.jpg" | relative_url }}" alt="Image 4">
    </div>
    <figcaption>Some captures from my research and projects</figcaption>
  </figure>

  <p class="welcome-message">Welcome to my blog. I'm interested broadly in learning algorithms: vision, graphics, and machine learning.</p>

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    
    <div class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <article class="post">
        <h2 class="post-title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          {%- if post.author -%}
            • <span class="post-author">{{ post.author }}</span>
          {%- endif -%}
        </div>
        {%- if site.show_excerpts -%}
          <div class="post-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 50 }}
          </div>
        {%- endif -%}
      </article>
      {%- endfor -%}
    </div>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  
    <p class="feed-subscribe">
      <a href="https://feedrabbit.com/?url=https://rishit-dagli.github.io/feed.xml">
        <svg class="svg-icon orange" width="16" height="16">
          <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg><span>Subscribe to RSS</span>
      </a>
    </p>
  {%- endif -%}

</div>
